WORKOS_CLIENT_ID=client_01JTDVASJS7W1TB85DBD23VG5D
WORKOS_CLIENT_SECRET=sk_test_a2V5XzAxSlREVkFTMEhYOVlWN0YxTUtFRERWSlo5LHl6eDRMeWlWRWhkTVdGNFE4czFyWnNxZ3U

PERMIT_API_KEY=permit_key_mQ6LJiuOoNb0IaNEmNe0UM03qcuzw5Eu5qLqIcWrPn8i1VZeAXbV0qAt9pTSAbOrLipt8mbRPHTJerDdGstGvh
PERMIT_PDP_URL=https://cloudpdp.api.permit.io


# Database Configuration (Example for PostgreSQL with Prisma)
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiYWRkYjhiOTItZDBjMC00MjQ4LWJhY2ItM2VkMTA3OTE5NGFmIiwidGVuYW50X2lkIjoiZWVlOTIxYmFhN2FjNDNmNzgwZjQ2N2EyZDRmN2JmMDI1NTQ1NzQ3YzI1ZjE5NDRiYmJiNzQ2NmYyZDVhYmViZSIsImludGVybmFsX3NlY3JldCI6IjQyMjIyZjJlLTUzNTktNDhhYi04YmEwLThkM2Q0OTQzNDUzOSJ9.s7NUGmZ3I-8nsMaRMvuJ2F_cLUqzzfcRV-8KQVNEC20"